@import "./constants";
@import "./variables";

.app__graph02container{
  width: 100%;
    border: 5px green solid;
    height: fit-content;
    background: #372948;
    padding: 35% $md-gap 10% $md-gap;

  .graph02container__maincontainer{
    .left__section{
      .graph02img{

      }
    }

    .right__section{
      .right__text{

      }
    }
  }
}











//.app__graph02container {
//
//
//  .graph02container__container {
//    border: 5px yellow solid;
//    @include flexAlign;
//
//    .left__analytics {
//      border: 5px red solid;
//      @include flexDirection;
//      gap: $lg-gap;
//      flex: 1;
//
//      .left__text {
//        @include flexDirection;
//        gap: $lg-gap;
//
//        h1 {
//          font-size: 3rem;
//          color: $primary-color;
//        }
//
//        p {
//          color: black;
//          font-size: 1.4rem;
//        }
//      }
//
//      .left__analytics__container {
//        @include flexAlign;
//        gap: $lg-gap;
//
//        .analytic__container {
//          @include flexAlign;
//          flex-direction: column;
//          gap: $lg-gap;
//          cursor: pointer;
//          color: $primary-color;
//          font-weight: bold;
//
//          .analytics__icon {
//            height: 180px;
//            width: 180px;
//            border-radius: 20px;
//            background: $neutral;
//            font-size: 2rem;
//            transition: $trans;
//            @include flexCenter;
//
//            &:hover {
//              background: $secondary-color;
//              box-shadow: $shadow;
//              @include textGradient;
//
//            }
//          }
//        }
//      }
//    }
//    .right__analytics {
//      border: 5px brown solid;
//      .graph01img {
//        border-radius: 50px;
//        box-shadow: $shadow;
//        background-color: #ECE3F0;
//        width: 250%;
//        overflow: hidden;
//      }
//      flex: 1;
//
//      display: flex;
//      justify-content: flex-end;
//
//    }
//  }
//}